@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  	url('../fonts/OpenSans-Semibold.ttf');
}

.body {
  background-color: transparent;
  /*user-select : none;*/
}

.math-holder {
    text-align: center;
    /*margin-top: 2%;*/
}

#math-equation-holder {
    margin-left: 2%;
    margin-bottom: 1%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-size: 30pt;
    width: 77vw;
}
.mq-textcolor .mq-text-mode {
    display: block;
}
.mq-root-block, .mq-math-mode .mq-root-block {
  overflow: auto !important;
}
.icon-move {
      font-size: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.equation-holder {
    border: 1px solid;
    width: 80vw;
    display: inline-block;
    text-align: left;
    overflow: auto;
    background-color: white;
}

.forMobile {
    display: none;
}

/*.mq-math-mode .mq-empty {
  background : transparent !important;
  border:1px solid black;
}*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .forMobile {
        display: block;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .forMobile {
        display: block;
    }
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dwse5v');
  src:  url('../fonts/icomoon.eot?dwse5v#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?dwse5v') format('woff2'),
    url('../fonts/icomoon.ttf?dwse5v') format('truetype'),
    url('../fonts/icomoon.woff?dwse5v') format('woff'),
    url('../fonts/icomoon.svg?dwse5v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-greater-than:before {
  content: "\61";
}
.icon-Apostrophe:before {
  content: "\62";
}
.icon-asterisk:before {
  content: "\63";
}
.icon-back:before {
  content: "\64";
}
.icon-Caret:before {
  content: "\65";
}
.icon-Close-bracket:before {
  content: "\66";
}
.icon-Close-keyboard:before {
  content: "\67";
}
.icon-division-slash:before {
  content: "\68";
}
.icon-division:before {
  content: "\69";
}
.icon-dollar:before {
  content: "\6a";
}
.icon-Dot:before {
  content: "\6b";
}
.icon-Down-Arrow:before {
  content: "\6c";
}
.icon-Enter:before {
  content: "\6d";
}
.icon-equals-sign:before {
  content: "\6e";
}
.icon-four-arrow:before {
  content: "\6f";
}
.icon-greater-than-or-equal-to:before {
  content: "\70";
}
.icon-Left-Arrow:before {
  content: "\71";
}
.icon-less-than-or-equal-to:before {
  content: "\72";
}
.icon-less-than:before {
  content: "\73";
}
.icon-log-of-x:before {
  content: "\74";
}
.icon-log-x-to-the-base-y:before {
  content: "\77";
}
.icon-minus-sign:before {
  content: "\78";
}
.icon-move:before {
  content: "\79";
}
.icon-Open-bracket:before {
  content: "\7a";
}
.icon-Open-keyboard:before {
  content: "\5c";
}
.icon-percent:before {
  content: "\3f";
}
.icon-Pi:before {
  content: "\2f";
}
.icon-plus-sign:before {
  content: "\2c";
}
.icon-Right-arrow:before {
  content: "\3c";
}
.icon-Right-single-quote:before {
  content: "\3e";
}
.icon-root-of-x-to-power-of-y:before {
  content: "\3b";
}
.icon-semicolon:before {
  content: "\3a";
}
.icon-single-vertical-bar:before {
  content: "\7b";
}
.icon-square-root:before {
  content: "\7d";
}
.icon-top-arrow:before {
  content: "\5b";
}
.icon-x-raise-to-y:before {
  content: "\5d";
}
.icon-x-upon-y:before {
  content: "\7c";
}
.icon-X:before {
  content: "\41";
}
.icon-y:before {
  content: "\42";
}
